* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin-bottom: 100px;
}
header {
  text-align: center;
  color: black;
  border: 2px solid #416e97;
  padding: 5px;
}
h2 {
  text-align: center;
  color: black;
  padding: 0px;
  margin: 5px 0;
}
section {
  margin: 0 auto;
  width: 750px;
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  margin-top: 10px;
  background-color: #52cbbe;
  border: 2px solid #416e97;
  border-radius: 20px;
}
.radio {
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
img {
  padding: 15px;
  justify-content: flex-end;
  padding: 10px;
  margin: 0 110px;
}
form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 750px;
  /* Esquema del formulario */
  font-size: 17px;
  padding: 10px;
  border: 2px solid #416e97;
  border-radius: 20px;
  background-color: #52cbbe;
}
.pay {
  margin: 25px;
  border: 2px solid #416e97;
  font-size: 15px;
  padding: 10px;
}
.result {
  font-size: 20px;
  padding: 10px;
}
